.about-container {
    height: 100vh;
}

.about-wrap {
    display: flex;
    justify-content: center;
}

.about-wrap img {
    margin-top: 50px;
    width: 400px;
    height: 560px;
}


.top-description {
    width: 100%;
    height: auto;
}

.upper-part {
    width: auto;
    height: auto;
    padding-top: 5rem;
    padding-left: 5rem;
    padding-bottom: 1rem;
    font-size: 7rem;
}

.upper-part p {
    color: #000000;
  
}

.about-nav {
    padding-right: 5rem;
    display: flex;
    justify-content: space-between;
}


.bottom-description {
    width: auto;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-left: 5rem;
    margin: 0 auto;
    line-height: 1.4;
}

.self-introduction {
    width: 100%;
}

